.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $grey-1;
    display: block;
    padding: 2rem 0 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 7rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: .5rem 0;

    @media (min-width: 600px) {
      font-size: 1.7rem;
    }
  }

  &-line {
    @include transition(all .4s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 3rem;
  }
}
